{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}


{% block content %}
    <div class="home"></div>
    <div class="home1">
        <div class="title">
            <p>
                Welcome to Gift Glance
            </p>
        </div>
        <div>
            <p class="title1">
                Keep track of birthdays and find gift ideas with the Gift Glance. A simple tool for managing important dates and celebrating friends and family.
        </div>
        <a href="/login" class="sign-in-button">Sign In</a>
    </div>
{% endblock %}